<?xml version="1.0"?>
<configuration>
  <configSections />
  <appSettings>
    <add key="sessionTimeout" value="50000" />
    <add key="BundlingActive" value="1" />
    <add key="UM" value="N" />
    <add key="UM_Ret" value="25/05/2016 02:30 PM" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>

  <connectionStrings>
    <add name="ERP_ACLPointConnectionString14" connectionString="Data Source=ESQL;Initial Catalog=ERP_ACLPoint;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="ERP_HRConnectionString14" connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="ERP_SADConnectionString14" connectionString="Data Source=ESQL;Initial Catalog=ERP_SAD;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="ERP_SADConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_SAD;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="ERP_ACLPointConnectionString1" connectionString="Data Source=ESQL;Initial Catalog=ERP_ACLPoint;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="ERP_HRConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="ERP_ACLPointConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_ACLPoint;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="SUPPORTConnectionString" connectionString="Data Source=esql;Initial Catalog=SUPPORT;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient" />
    <add name="ERP_InventoryConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Inventory;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient" />
    <add name="ERP_RemoteConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_Remote;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123" providerName="System.Data.SqlClient" />
    <add name="ERP_AssetConnectionString"  connectionString="Data Source=ESQL;Initial Catalog=ERP_Asset;User ID=sqlrw;Password=RWsql@123;" providerName="System.Data.SqlClient" />
    <add name="DB_RoleConnectionString" connectionString="Data Source=ESQL;Initial Catalog=DB_Role;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    
    <!--  -->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <httpRuntime executionTimeout="5000" targetFramework="4.5" />
    <customErrors mode="Off" />
    <sessionState timeout="5000" stateNetworkTimeout="300" sqlCommandTimeout="300" />
    <identity impersonate="false" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
</configuration>