<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SUPPORTConnectionString" connectionString="Data Source=esql;Initial Catalog=SUPPORT;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_InventoryConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Inventory;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_HRConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_RemoteConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_Remote;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_SADConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_SAD;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_ProductionConnectionString" connectionString="Data Source=esql;Initial Catalog=ERP_Production;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
    <add name="ERP_AssetConnectionString" connectionString="Data Source=ESQL;Initial Catalog=ERP_Asset;User ID=sqlrw;Password=RWsql@123;"
      providerName="System.Data.SqlClient" />
    <add name="DB_RoleConnectionString" connectionString="Data Source=ESQL;Initial Catalog=DB_Role;Persist Security Info=True;User ID=sqlrw;Password=RWsql@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="5000" stateNetworkTimeout="300" sqlCommandTimeout="300"/>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
